# Task 1: Numbers and Variables

In [0]:
x, y, z = 1, 2.5, 'nitin'
print(x, y, z)

1 2.5 nitin

In [0]:
x = 5 + 10j
y = 14
print('Actual:', x, y)
x = x+y
y = x-y
x = int((x-y).real)
print('Swapped:', x, y)

Actual: (5+10j) 14
Swapped: 14 (5+10j)

In [0]:
x = input('Enter something:')
print(x, type(x))

Enter something:Nitin
Nitin <class 'str'>

In [0]:
x = input('Enter something:')
print(x, type(x))

Enter something:5.5
5.5 <class 'str'>

In [0]:
x = float(input('Enter something:'))
print(x, type(x))

Enter something:5.5
5.5 <class 'float'>

In [0]:
x = input('Enter something:')
print(x, type(x))

Enter something:[1,2,5.5,'nitin']
[1,2,5.5,'nitin'] <class 'str'>

In [0]:
# to convert datatype to list
x = eval(input('Enter something:'))
print(x, type(x))

Enter something:[1,2,5.5,'nitin']
[1, 2, 5.5, 'nitin'] <class 'list'>

In [0]:
def addition(x, y):
  z = x + y
  z +=30
  print('Result: ', z)

x = int(input('Enter no. 1:'))
y = int(input('Enter no. 2:'))
addition(x, y)

Enter no. 1:5
Enter no. 2:10
Result:  45

In [0]:
def datatypes(x, y):
  print('Dtype of x: ', type(x))
  print('Dtype of y: ', type(y))

x = int(input('Enter no. 1:'))
y = float(input('Enter no. 2:'))
datatypes(x, y)

Enter no. 1:3
Enter no. 2:4.5
Dtype of x:  <class 'int'>
Dtype of y:  <class 'float'>

In [0]:
x = input('Enter no. 1:')
print('Upper case:', x.upper())
def camel_case(x):
  camel_case = ''
  camel_case += x[0].lower()
  if x == '':
    return
  if len(x) == 1:
    return(x.lower())
  for i in range(1, len(x)):
    if x[i] == ' ':
      camel_case += '_'
    elif x[i].isupper():
      camel_case += x[i].lower()
    else:
      camel_case += x[i]
  return(camel_case)

result = camel_case(x)
print('Camel case:', result)

Enter no. 1:A Big Cat
Camel case: a_big_cat

In [0]:
x = 5
print(type(x))

x = 5.5
print(type(x))

x = 'nitin'
print(type(x))

# datatype changes are it is a fresh re-assignment!

<class 'int'>
<class 'float'>
<class 'str'>

# Task 2

In [0]:
x = int(input('Enter no.: '))
def check(x):
  if x%3 == 0 and x%5 == 0:
    print('ConsultAdd Python Training')
  elif x%3 == 0:
    print('ConsultAdd')
  elif x%5 == 0:
    print('c')
  else:
    pass

check(x)

Enter no.: 24
ConsultAdd

In [0]:
x = int(input('Enter 1st value: '))
y = int(input('Enter 2nd value: '))
act = int(input('What do you want to do?: '))
def action(x, y, act):
  action = {
      1: x+y,
      2: x-y,
      3: x*y,
      4: x/y,
      5: (x+y)/2
  }
  print(action[act])
  if action[act] < 0:
    print('Negative')
action(x, y, act)

Enter 1st value: 10
Enter 2nd value: 20
What do you want to do?: 2
-10
Negative

In [0]:
x = int(input('Enter 1st value: '))
y = int(input('Enter 2nd value: '))
z = int(input('Enter 3rd value: '))
def check_avg(x, y, z):
  avg = (x+y+z)/3
  if avg > x and avg > y and avg > z:
    print('Avg is more than x, y, z')
  elif avg > x and avg > y:
    print('Avg is more than x, y')
  elif avg > z and avg > y:
    print('Avg is more than z, y')
  elif avg > x and avg > z:
    print('Avg is more than x, z')
  elif avg > x:
    print('Avg is more than x')
  elif avg > y:
    print('Avg is more than y')
  elif avg > z:
    print('Avg is more than z')

check_avg(x, y, z)

Enter 1st value: 10
Enter 2nd value: 20
Enter 3rd value: 30
Avg is more than x

In [0]:
def positivity():
  while(1):
    x = int(input('Enter value: '))
    if x > -1:
      print('Good going!')
    else:
      print('Its over!')
      break

positivity()

Enter value: 1
Good going!
Enter value: 2
Good going!
Enter value: 10
Good going!
Enter value: -5
Its over!

In [0]:
values = []
for i in range(2000, 3201):
  if i%7 == 0 and i%5 != 0:
    values.append(i)
print(values)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [0]:
for i in range(0,7):
  if i == 3 or i == 6:
    continue
  else:
    print(i)

0
1
2
4
5

In [0]:
x = input('Enter an aphanumeric text: ')
digits = 0
alpha = 0
for i in x:
  if i.isdigit():
    digits += 1
  elif i.isalpha():
    alpha += 1
print('Digits: ', digits)
print('Alphabets: ', alpha)

Enter an aphanumeric text: nitin1234567890
Digits:  10
Alphabets:  5

In [0]:
def lucky():
  while True:
    x = int(input('Enter lucky number:'))
    lucky_number = 100
    if x == lucky_number:
      break

lucky()

Enter lucky number:1
Enter lucky number:2
Enter lucky number:4
Enter lucky number:6
Enter lucky number:4
Enter lucky number:44
Enter lucky number:56
Enter lucky number:100

In [0]:
def lucky():
  while True:
    x = int(input('Enter lucky number:'))
    lucky_number = 100
    if x == lucky_number:
      break
    else:
      answer = input('Do you want to continue? (yes/no)')
      if answer == 'no':
        break

lucky()

Enter lucky number:1
Do you want to continue? (yes/no)yes
Enter lucky number:6
Do you want to continue? (yes/no)yes
Enter lucky number:10
Do you want to continue? (yes/no)yes
Enter lucky number:34
Do you want to continue? (yes/no)no

In [0]:
i = 0
lucky_number = 50
while i < 6:
  i += 1
  x = int(input('Enter lucky number:'))
  if x == lucky_number:
    print('Good job!')
  else:
    if i < 5:
      print('Try again!')
  if i == 5:
    print('Game over!')
    break

Enter lucky number:43
Try again!
Enter lucky number:35
Try again!
Enter lucky number:50
Good job!
Enter lucky number:50
Good job!
Enter lucky number:50
Good job!
Game over!

In [0]:
i = 0
lucky_number = 50
while i < 5:
  i += 1
  x = int(input('Enter lucky number:'))
  if x == lucky_number:
    print('Good job!')
    break
  else:
    if i < 5:
      print('Try again!')
print('Sorry, you were not successful!')

Enter lucky number:345
Try again!
Enter lucky number:11
Try again!
Enter lucky number:1
Try again!
Enter lucky number:1
Try again!
Enter lucky number:1
Sorry, you were not successful!

# Task 3: Data Structures

In [0]:
x = [1, 2.5, 'nitin', 1+5j, 5, 6.5, 'saini', 5+10j, 3, 5]
x

[1, 2.5, 'nitin', (1+5j), 5, 6.5, 'saini', (5+10j), 3, 5]

In [0]:
x = [1, 2, 3, 4, 5]
print(x[:3])
print(x[3:])
print(x[:-1])
print(x[1:4])

[1, 2, 3]
[4, 5]
[1, 2, 3, 4]
[2, 3, 4]

In [0]:
x = eval(input('Enter a list:'))
add = 0
mul = 1
for i in x:
  add += i
  mul *= i
print(add, mul)

Enter a list:1,2,3,4,5
15 120

In [0]:
x = eval(input('Enter a list:'))
print('Largest: ', max(x))
print('Smallest: ', min(x))

Enter a list:1,2,3,4,5
Largest:  5
Smallest:  1

In [0]:
x = eval(input('Enter a list:'))
def get_even(x):
  y = []
  for i in x:
    if i%2 != 0:
      y.append(i)
  print(y)
get_even(x)

Enter a list:1,2,3,4,5,6,7,8
[1, 3, 5, 7]

In [0]:
x = eval(input('Enter list1:'))
y = eval(input('Enter list2:'))

def add_list(x, y):
  x = x[:-1] + y
  print(x)    

add_list(x, y)

Enter list1:1,2,3,4,10
Enter list2:5,6,7,8
(1, 2, 3, 4, 5, 6, 7, 8)

In [0]:
d1 = {
    "x": 10,
    "y": 20,
    "z": 30
}
d2 = {
    "a": "nitin",
    "b": "saini"
}
d = d1.copy()
d.update(d2)
print(d)

{'x': 10, 'y': 20, 'z': 30, 'a': 'nitin', 'b': 'saini'}

In [0]:
n = int(input('Enter a number:'))
def dictionary(n):
  d = {}
  for i in range(1,n+1):
    d[i] = i*i
  print(d)

dictionary(n)

Enter a number:10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [0]:
x = input('Enter a comma separated list of numbers:')
l = list(x.split(','))
print(l)
t = tuple(x.split(','))
print(t)

Enter a comma separated list of numbers:1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

In [0]:
x = [100,200,300,400,500,[1,2,3,4,5,[10,20,30,40,50],6,7,8,9],600,700,800]
print(x[5][:4])
print(x[-3:-1])
print(x[::2])
print(x[::-1])
print(x[5][5][0])

[1, 2, 3, 4]
[600, 700]
[100, 300, 500, 600, 800]
[800, 700, 600, [1, 2, 3, 4, 5, [10, 20, 30, 40, 50], 6, 7, 8, 9], 500, 400, 300, 200, 100]
10

In [0]:
for i in range(1,100):
  if i%3 == 0 and i%2 == 0:
      print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [0]:
x = input('Enter a string: ')
for i, val in enumerate(x[::-1]):
  if val in ['a','e','i','o','u']:
    print(val, i)

Enter a string: qwertyuiop
o 1
i 2
u 3
e 7

In [0]:
x = input('Enter a string: ')
count = 0
string = ''
for i, val in enumerate(x):
  if val != ' ':
    count +=1
    string = string + val
  elif val == ' ':
    if count%2 == 0:
      print(string)
      count = 0
      string = ''
    else:
      count = 0
      string = ''
  if i == len(x)-1:
      print(string)

Enter a string: hello my name is abcde
my
name
is
abcde

In [0]:
x = eval(input('Enter a list: '))
for i in range(len(x)):
  for j in range(i+1, len(x)):
    if x[i] + x[j] == 8:
      print(x[i], x[j])

Enter a list: 1,2,3,4,5,6,7,8
1 7
2 6
3 5

In [0]:
x = eval(input('Enter a list: '))
for i in range(len(x)):

In [0]:
even = []
odd = []
while(True):
  x = int(input('Enter a number: '))
  if x%2 == 0:
    even.append(x)
  else:
    odd.append(x)
  if len(even) == 5:
    print('Sum of even list: ', sum(even))
    print('Max of even list: ', max(even))
    break
  if len(odd) == 5:
    print('Sum of odd list: ', sum(odd))
    print('Max of odd list: ', max(odd))
    break

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 9
Sum of odd list:  25
Max of odd list:  9

In [0]:
x = input('Enter a statement: ')
d = {}
for val in x:
  if val.isalpha():
    if val not in d:
      d[val] = 1
    else:
      d[val] += 1
print(d)

Enter a statement: 1qw31qw31qw3
{'q': 3, 'w': 3}

In [0]:
x = eval(input('Enter a list: '))
y = []
x = tuple(x)
for i in x:
  if i%2 == 0:
    y.append(i)
y = tuple(y)
print(y)

Enter a list: 1,2,3,4,5,6,7
(2, 4, 6)

In [0]:
x = [1,2,3]
y = [1,2,3]

for a,b in zip(x,y):
  print(a+b)

2
4
6

# Task 4

In [0]:
def reverse(s):
  return s[::-1]

s = input('Enter string: ')
reverse(s)

Enter string: qwerty

'ytrewq'

In [0]:
def whatCase(s):
  upper = 0
  lower = 0
  for i in s:
    if i.isupper():
      upper += 1
    elif i.islower():
      lower += 1
  print('Upper count: ', upper)
  print('Lower count: ', lower)

s = input('Enter string: ')
whatCase(s)

Enter string: I am writing a FUNCTION.
Upper count:  9
Lower count:  10

In [0]:
def unique(l):
  s = set(l)
  s = list(s)
  print(s)

l = eval(input('Enter list: '))
unique(l)

Enter list: 1,2,3,3,4,5,5,6,5,4,3,2,1,3,5,4,32,
[32, 1, 2, 3, 4, 5, 6]

In [0]:
def sorting(l):
  s = l.split('-')
  s = sorted(s)
  return('-'.join(s))

l = input('Enter hyphen separated string: ')
sorting(l)

Enter hyphen separated string: I-am-writing-a-line

'I-a-am-line-writing'

In [0]:
def add(a,b):
  return(a+b)

while True:
  try:
    a = input('Enter number: ')
    b = input('Enter number: ')
    a = int(a)
    b = int(b)
    r = add(a,b)
    print(r)
    break
  except:
    print('Enter a number.')

Enter number: q
Enter number: q
Enter a number.
Enter number: q
Enter number:
Enter a number.
Enter number: 12
Enter number: 23
35

In [0]:
a = input('Enter string: ')
b = input('Enter string: ')

def check(a,b):
  if len(a) > len(b):
    print(a)
  elif len(a) < len(b):
    print(b)
  else:
    print(a)
    print(b)

check(a,b)

Enter string: nitin
Enter string: saini
nitin
saini

In [0]:
def square():
  l = []
  for i in range(1, 21):
    l.append(i*i)
  l = tuple(l)
  print(l)

square()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [0]:
def limit():
  lim = int(input('Enter limit: '))
  for i in range(1,lim+1):
    if i%2 == 0:
      print(i, 'EVEN')
    else:
      print(i, 'ODD')

limit()

Enter limit: 15
1 ODD
2 EVEN
3 ODD
4 EVEN
5 ODD
6 EVEN
7 ODD
8 EVEN
9 ODD
10 EVEN
11 ODD
12 EVEN
13 ODD
14 EVEN
15 ODD

In [0]:
def is_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

l = list(filter(is_even, range(1,21)))
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [0]:
m = list(map(lambda x:x*x, [1,2,3,4,5,6,7,8,9,10]))
def is_even(x):
    if x % 2 == 0:
        return True
    else:
        return False

l = list(filter(is_even, m))
print(l)

[4, 16, 36, 64, 100]

In [0]:
try:
  y = 5/0
except Exception as e:
  print(e)

division by zero

In [0]:
import functools as fc
fc.reduce(lambda x,y:x+y, [[1,2],[3,4],[5,6]])

[1, 2, 3, 4, 5, 6]

In [0]:
# 14.a) 2
# 14.b) after f
#       exception

In [0]:
l = [1,1,1,2,2,3,8,4,5,6,7]
set([x for x in l if l.count(x) > 1])

{1, 2}

In [0]:
def duplicate(l):
  d = {}
  for i in l:
    if i in d:
      d[i] += 1
    else:
      d[i] = 1
  nl = []
  for key, value in d.items():
    if value > 1:
      nl.append(key)
  print(nl)

duplicate([1,1,1,2,2,3,8,4,5,6,7])

[1, 2]

# Task 5

In [33]:
# not able to catch syntax error
try:
  eval('x === x')
except SyntaxError:
  print("You've got an error")

You've got an error

In [0]:
from sys import argv
prg, file = argv

print('Program: ', prg)
print('File: ', file)

while(1):
	try:
		fh = open(file)
		data = fh.read()
		print(data)
		fh.close()
		break
	except:
		if input('Wrong filename, do you want to try again? (Y/N)') == 'Y':
			file = input('Enter filename: ')
		else:
			break

In [23]:
while 1:
  try:
    x = int(input('Enter a 4 digit number: '))
    if len(str(x)) == 4:
      print("Length of password is: ", len(str(x)))
      break
    else:
      print('Wrong length.')
  except ValueError:
    print("Enter digits only.")
    continue

Enter a 4 digit number: 1q
Enter digits only.
Enter a 4 digit number: 1234
Length of password is:  4

In [26]:
email = input('Enter email: ')
password = input('Enter password: ')
confPassword = input('Confirm password: ')
count = 0
while 1:
  if password == confPassword:
    print('Login Successful')
    break
  else:
    if count == 3:
      print("Login failed.")
      break
    count += 1
    confPassword = input("Passwords don't match. Please try again: ")
    continue

Enter email: qwe@qwe.qwe
Enter password: 123
Confirm password: 234
Passwords don't match. Please try again: 342
Passwords don't match. Please try again: 321
Passwords don't match. Please try again: 111
Login failed.

In [49]:
from sys import argv
import re
prg, file = argv

print('Program: ', prg)
print('File: ', file)

while(1):
	try:
		fh = open(file)
		data = fh.read()
		data = data.replace('\n',' ')
		strings = data.split(' ')
		print(' '.join(list(i for i in strings if len(i)%2 == 0)))
		fh.close()
		break
	except:
		if input('Wrong filename, do you want to try again? (Y/N)') == 'Y':
			file = input('Enter filename: ')
		else:
			break

'This is demo data do eleven tricks in minute'

In [1]:
!pip install pyadomd

Collecting pyadomd
  Downloading https://files.pythonhosted.org/packages/76/79/6af29fa364806f01a05a58a0355cceed81aa8974db7914dd636d1e854208/pyadomd-0.0.5.tar.gz
Collecting pythonnet
  Downloading https://files.pythonhosted.org/packages/4a/0a/5964a5a1fdf207fab8e718edd1f8d3578e0681577fe9abe0d9006f9718c2/pythonnet-2.4.0.tar.gz (1.8MB)
     |████████████████████████████████| 1.9MB 9.4MB/s
Building wheels for collected packages: pyadomd, pythonnet
  Building wheel for pyadomd (setup.py) ... done
  Created wheel for pyadomd: filename=pyadomd-0.0.5-cp36-none-any.whl size=4745 sha256=54c2e2233828599b38b7d8b679adfa98e7ce5b92f7e3e5067b13a0270ee54308
  Stored in directory: /root/.cache/pip/wheels/ff/2a/fb/045a47a1dbeb39287d3e4c6d8519488c723b5f67a24a6a7b7d
  Building wheel for pythonnet (setup.py) ... error
  ERROR: Failed building wheel for pythonnet
  Running setup.py clean for pythonnet
Successfully built pyadomd
Failed to build pythonnet
Installing collected packages: pythonnet, pyadomd
    Running setup.py install for pythonnet ... error
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-7mr9hnb_/pythonnet/setup.py'"'"'; __file__='"'"'/tmp/pip-install-7mr9hnb_/pythonnet/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-60bpe3k3/install-record.txt --single-version-externally-managed --compile Check the logs for full command output.